
@model ContatoModel
@{
    ViewData["Title"] = "Criar novo contato";
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="listar" class="btn btn-warning" style="float:right;"><i class="fa fa-angle-double-left"></i>&ensp;Voltar</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

        <form class="" method="post" action="@Url.ActionLink("criar", "contato")">
            <input type="hidden" id="ClienteId" name="ClienteId" value="@Model.ClienteId" />
            <div class="row">
                <div class="col-md-6">
                    <label>Telefone</label>
                    <input type="text" class="form-control" name="Telefone" id="Telefone" value="@Model.Telefone" />
                </div>
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                </div>
                <div class="col-md-12 mt-3">
                    <button type="submit" name="name" class="btn btn-success"><i class="fa fa-save"></i>&ensp;Salvar</button>
                </div>

            </div>
        </form>

    </div>
</div>

