@inject IHttpContextAccessor httpContextAccessor
@model IEnumerable<ContatoModel>

@{
    ViewData["Title"] = "Relatório de contatos";
    HttpRequest httpRequest = httpContextAccessor.HttpContext.Request;
}

<div class="card">
    <div class="card-header">
        @*<a asp-controller="contato" asp-action="criar" class="btn btn-primary" style="float:right;">Novo contato</a>*@
        <a asp-controller="cliente" asp-action="listar" class="btn btn-warning" style="float:right;"><i class="fa fa-angle-double-left"></i>&ensp;Voltar</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

        <form class="row g-3" method="get" action="@Url.ActionLink("listar", "contato")">
            <div class="col-md-12">
                <h5>Pesquisar contato</h5>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="telefone" name="telefone" value="@httpRequest.Query["telefone"]" placeholder="Digite o telefone do cliente...">
            </div>
            <div class="col-auto">
                <input type="email" class="form-control" id="email" name="email" value="@httpRequest.Query["email"]" placeholder="Digite o e-mail do cliente...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-secondary mb-3"><i class="fa fa-search"></i>&ensp;Pesquisar</button>
            </div>
        </form>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ações</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a href="@Url.Content($"/contato/atualizar?id={item.Id}")" data-toggle="tooltip" data-placement="top" title=" Editar contato" class="btn btn-outline-info mr-1 btn-sm"><i class="fa fa-user-edit"></i></a>
                            <a href="@Url.Content($"/contato/detalhe?id={item.Id}")" data-toggle="tooltip" data-placement="top" title=" Visualizar contato" class="btn btn-outline-dark mr-1 btn-sm"><i class="fa fa-list-alt"></i></a>
                            <a href="@Url.Content($"/contato/delete?id={item.Id}")" data-toggle="tooltip" data-placement="top" title=" Excluir contato" class="btn btn-outline-danger mr-1 btn-sm"><i class="fa fa-times-circle"></i></a>
                        </td>
                        <td>@item.Telefone</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

