@model ClienteModel
@{
    ViewData["Title"] = "Atualizar";
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="listar" class="btn btn-warning" style="float:right;"><i class="fa fa-angle-double-left"></i>&ensp;Voltar</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

        <form class="" method="post" action="@Url.ActionLink("atualizar", "cliente")">

            <div class="row">
                <input type="hidden" value="@Model.Id" id="Id" name="Id" />
                <div class="col-md-6">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="Nome" id="Nome" value="@Model.Nome" />
                </div>
                <div class="col-md-4">
                    <label>Genero</label>
                    <input type="text" class="form-control" id="Genero" name="Genero" value="@Model.Genero" />
                </div>
                <div class="col-md-2">
                    <label>Data de Nascimento</label>
                    <input type="text" class="form-control" id="DataNascimento" name="DataNascimento" value="@Model.DataNascimento.ToString("dd/MM/yyyy")" />
                </div>
                <div class="col-md-12 mt-3">
                    <button type="submit" name="name" class="btn btn-success"><i class="fa fa-save"></i>&ensp;Salvar</button>
                </div>

            </div>
        </form>

    </div>
</div>


