@model ClienteModel
@{
    ViewData["Title"] = "Criar novo cliente";
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="listar" class="btn btn-warning" style="float:right;"><i class="fa fa-angle-double-left"></i>&ensp;Voltar</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

        <form class="" method="post" action="@Url.ActionLink("criar", "cliente")">

            <div class="row">
                <div class="col-md-6">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="Nome" placeholder="Digite o nome..." id="Nome" value="@Model.Nome" />
                </div>
                <div class="col-md-4">
                    <label>Genero</label>
                    <select class="form-control" name="Genero" id="Genero" asp-for="@Model.Genero">
                        <option value="">Selecione</option>
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="não informado">Não informado</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Data de Nascimento</label>
                    <input type="text" class="form-control" id="DataNascimento" name="DataNascimento" value="@Model.DataNascimento.ToString("dd/MM/yyyy")" />
                </div>
                <div class="col-md-12 mt-3">
                    <button type="submit" name="name" class="btn btn-success"><i class="fa fa-save"></i>&ensp;Salvar</button>
                </div>

            </div>
        </form>


    </div>
</div>



