@inject IHttpContextAccessor httpContextAccessor
@model IEnumerable<ClienteModel>

@{
    ViewData["Title"] = "Relatório de clientes";
    HttpRequest httpRequest = httpContextAccessor.HttpContext.Request;
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="criar" class="btn btn-primary" style="float:right;">Novo cliente</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

        <form class="row g-3" method="get" action="@Url.ActionLink("listar", "cliente")">
            <div class="col-md-12">
                <h5>Pesquisar cliente</h5>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="nome" name="nome" value="@httpRequest.Query["nome"]" placeholder="Digite o nome do cliente...">
            </div>
            <div class="col-auto d-none">
                <input type="email" class="form-control" id="email" name="email" value="@httpRequest.Query["email"]" placeholder="Digite o e-mail do cliente...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-secondary mb-3">Pesquisar</button>
            </div>
        </form>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ações</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Gênero</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Content($"/cliente/atualizar?id={item.Id}")" class="btn btn-info mr-1" style="float:right;">Editar</a>
                            <a href="@Url.Content($"/cliente/delete?id={item.Id}")" class="btn btn-danger mr-1" style="float:right;">Excluir</a>
                            <a href="@Url.Content($"/cliente/detalhe?id={item.Id}")" class="btn btn-dark mr-1" style="float:right;">Detalhe</a>
                        </td>
                        <td>@item.Nome</td>
                        <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                        <td>@item.Genero</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

