@inject IHttpContextAccessor httpContextAccessor
@model IEnumerable<ClienteModel>

@{
    ViewData["Title"] = "Relatório de clientes";
    HttpRequest httpRequest = httpContextAccessor.HttpContext.Request;
}

<div class="card">
    <div class="card-header">
        <a asp-controller="cliente" asp-action="criar" class="btn btn-primary" style="float:right;"><i class="fa fa-user-plus"></i>&ensp;Novo cliente</a>
        @ViewData["Title"]
    </div>
    <div class="card-body">

        <form class="row g-3" method="get" action="@Url.ActionLink("listar", "cliente")">
            <div class="col-md-12">
                <h5>Pesquisar cliente</h5>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="nome" name="nome" value="@httpRequest.Query["nome"]" placeholder="Digite o nome do cliente...">
            </div>
            <div class="col-auto d-none">
                <input type="email" class="form-control" id="email" name="email" value="@httpRequest.Query["email"]" placeholder="Digite o e-mail do cliente...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-secondary mb-3"><i class="fa fa-search"></i>&ensp;Pesquisar</button>
            </div>
        </form>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ações</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Gênero</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a href="@Url.Content($"/cliente/atualizar?id={item.Id}")" data-toggle="tooltip" data-placement="top" title=" Editar cliente" class="btn btn-outline-info mr-1 btn-sm"><i class="fa fa-user-edit"></i></a>
                            <a href="@Url.Content($"/cliente/detalhe?id={item.Id}")" data-toggle="tooltip" data-placement="top" title="Visualizar detalhes do cliente" class="btn btn-outline-dark mr-1 btn-sm"><i class="fa fa-list-alt"></i></a>
                            <a href="@Url.Content($"/cliente/delete?id={item.Id}")" data-toggle="tooltip" data-placement="top" title="Excluir cliente" class="btn btn-outline-danger mr-1 btn-sm"><i class="fa fa-times-circle"></i></a>

                            <a href="@Url.Content($"/contato/criar?clienteId={item.Id}")" data-toggle="tooltip" data-placement="top" title="Adicionar contato" class="btn btn-primary mr-1 btn-sm"><i class="fa fa-address-book"></i></a>
                            <a href="@Url.Content($"/contato/listar?clienteId={item.Id}")" data-toggle="tooltip" data-placement="top" title="Visualizar contatos" class="btn btn-outline-dark mr-1 btn-sm"><i class="fa fa-id-badge"></i></a>
                            <a href="@Url.Content($"/endereco/criar?clienteId={item.Id}")" data-toggle="tooltip" data-placement="top" title="Adicionar endereço" class="btn btn-primary mr-1 btn-sm"><i class="fa fa-address-card"></i></a>
                            <a href="@Url.Content($"/endereco/listar?clienteId={item.Id}")" data-toggle="tooltip" data-placement="top" title="Visualizar endereços" class="btn btn-outline-dark mr-1 btn-sm"><i class="fa fa-map-marker-alt"></i></a>
                        </td>
                        <td>@item.Nome</td>
                        <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                        <td>@item.Genero</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

